.div-style {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px;
}

.podcontainer {
	width: 320px;
	height: auto;
	background-color: royalblue;
	margin: 0 auto;
	filter: drop-shadow(4px 4px 10px #0d0d0e);
}

.podimage {
	width: 60%;
	filter: drop-shadow(4px 4px 10px #0d0d0e);
	padding-top: 20px;
	padding-bottom: 5px;
}

.podtitle {
	color: rgb(1, 1, 1);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .6rem;
	padding-top: 10px;
	height: 50px;
}

.desc {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	height: 100px;
}

.ptext {
	font-size: .8rem;
	padding: 10px 20px;
}

.podButtons {
	display: flex;
	justify-content: space-around;
	padding-top: -25px;
	padding-bottom: 20px;
}

.webbutton {
	text-align: center;
	margin-top: -20px;
}

.contratings {
	display: flex;
	justify-content: space-around;
	padding-bottom: 15px;
}

.ratingimage {
	width: 35px;
}

.ratingtext {
	color: white;
	font-size: 1rem;
}

button {
	border: 1px solid black;
	padding: 1em;
	outline: none;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	font-style: 1.2em;
	letter-spacing: 0.2em;
	position: relative;
	z-index: 1;
	cursor: pointer;
	background: rgb(63, 63, 63);
	text-shadow: 3px 3px 10px rgba(0, 0, 0, .45);
	&:before,
	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 10em;
		transform: translateX(-50%) translateY(-50%);
		width: 105%;
		height: 105%;
		content: '';
		z-index: -2;
		background-size: 400% 400%;
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	}
	&:before {
		filter: blur(7px);
		transition: all .25s ease;
		animation: pulse 10s infinite ease;
	}
	&:after {
		filter: blur(0.3px);
	}
	&:hover {
		&:before {
			width: 115%;
			height: 115%;
		}
	}
}
